name: Followback Checker

on:
    schedule:
        - cron: "0 */4 * * *"

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2

            - name: set environment variables
              uses: allenevans/set-env@v1.0.0
              with:
                  NOTFOLLOWING: "None"
                  NEEDTOFOLLOW: "None"

            - name: Set up Python
              uses: actions/setup-python@v2
              with:
                  python-version: "3.x"
                  architecture: "x64"

            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install beautifulsoup4

            - name: Check Not Following
              run: echo ::set-env name=NOTFOLLOWING::$(python main.py --notf)
              id: cnotf
            - name: Check Need to Follow
              run: echo ::set-env name=NEEDTOFOLLOW::$(python main.py --needf)
              id: cneedf
            - name: Print Follow Details
              run: |
                  echo "NOTFOLLOWING=${NOTFOLLOWING}"
                  echo "NEEDTOFOLLOW=${NEEDTOFOLLOW}"

            - if: env.NEEDTOFOLLOW != ''
              name: Create issue if someone needs to be followed
              uses: JasonEtco/create-an-issue@v2
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  filename: .github/needf.md

            - if: env.NOTFOLLOWING != ''
              name: Create issue if someone needs to be unfollowed
              uses: JasonEtco/create-an-issue@v2
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  filename: .github/notf.md
